<div class="collapse text-bg-dark" id="navbarHeader">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-7 py-4"><h4>STORE "dried tomatoes"</h4>
                <p class="text-body-secondary">Магазин всякой ерунды и не только.</p></div>
            <div class="col-sm-4 offset-md-1 py-4"><h4>Навигация</h4>
                <ul class="list-unstyled">
                    <li><a href="{% url 'fly:product_list' %}" class="text-white">Главная</a></li>
                    <li><a href="{% url 'blog:blogpost_list' %}" class="text-white">Блог</a></li>
                    <li><a href="#" class="text-white">Вход</a></li>
                    <li><a href="#" class="text-white">Регистрация</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
        <a href="{% url 'fly:product_list' %}" class="navbar-brand d-flex align-items-center">
            <strong>Магазин</strong>
        </a>
        <div class="navbar-nav ms-auto">
            <a href="{% url 'blog:blogpost_list' %}" class="nav-link text-white me-3">Блог</a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
    </div>
</div>